section:first-child {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    margin: auto;

    padding: 150px;
}

.aBoutton {
    padding: 15px;
    background-color: #2DBDB4;
    border-radius: 30px;
    text-align: center;

}

.aBoutton:hover {
    background-color: #C0F0EE;
}

section:first-child div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}


#imgmoi {
    height: 35%;
    width: 35%;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.495);

}

.lienLinkedin {
    height: 10%;
    width: 8%;
}

#logolindkin {
    height: 100%;
    width: 100%;
}

p {
    width: 100%;

}



.italic {
    color: rgb(105, 105, 105);
}



.parcours {
    padding-left: 50px;
}

.loisirs {
    padding-right: 150px;

}

.imgLoisirs {
    height: 30%;
    position: absolute;
    border-radius: 20px;
}

.imgParcours {
    height: 33%;
    border-radius: 20px;
    position: absolute;

}

.imgParcours:nth-child(1) {
    right: 7%;
    margin-top: 4em;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.495);


}

.imgParcours:nth-child(2) {
    right: 29%;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.495);

}

.imgLoisirs:nth-child(3) {
    left: 45%;
    z-index: 3;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.495);

}

.imgLoisirs:nth-child(2) {
    left: 33%;
    margin-top: 50px;
    z-index: 2;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.495);
}

.imgLoisirs:nth-child(2):hover{
    z-index: 4;
}
.imgLoisirs:nth-child(1) {
    z-index: 3;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.495);
}

section:nth-child(2) {
    background-color: #FEBB5F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    margin: 30px;
    border: 3px solid black;
    border-radius: 20px;
}


section:nth-child(3) {
    background-color: #F7F7F7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 50px;

}