/*Toutes les pages*/
* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

main {
    background-color: #F7F7F7;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
    font-style: italic;
}

h4 {
    font-size: 1.3em;
    font-style: italic;
    font-weight: normal;
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

/*Bar navigation (toutes les pages)*/

header {
    background-color: #FEBB5F;
    padding: 30px 50px;
    border-bottom: 3px solid black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a,
footer a {
    padding: 10px;
}

nav a:hover,
footer a:hover {
    background-color: #FE9D15;
    border-radius: 30px;
}

nav a:first-child {
    text-decoration: underline;
}

nav div a {
    margin: 30px;
}


p {
    width: 100%;
}


/*Footer (toutes les pages)*/
footer {
    background-color: #FEBB5F;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    border-top: 3px solid black;
}

li {
    font-size: 1.1em;
    padding: 15px;
}

ul {
    margin-top: 20px;
}




/*index*/
.aBoutton {
    padding: 15px;
    background-color: #2DBDB4;
    border-radius: 30px;
    text-align: center;

}

.aBoutton:hover {
    background-color: #C0F0EE;
}

#imgmoi {
    height: 35%;
    width: 35%;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.495);

}

.lienLinkedin {
    height: 10%;
    width: 8%;
}

#logolindkin {
    height: 100%;
    width: 100%;
}


.italic {
    color: rgb(105, 105, 105);
}



.parcours {
    padding-left: 50px;
}

.loisirs {
    padding-right: 150px;

}

.imgLoisirs {
    height: 30%;
    position: absolute;
    border-radius: 20px;
}

.imgParcours {
    height: 33%;
    border-radius: 20px;
    position: absolute;

}

.imgParcours:nth-child(1) {
    right: 7%;
    margin-top: 4em;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.495);


}

.imgParcours:nth-child(2) {
    right: 29%;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.495);

}

.imgLoisirs:nth-child(3) {
    left: 45%;
    z-index: 3;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.495);

}

.imgLoisirs:nth-child(2) {
    left: 33%;
    margin-top: 50px;
    z-index: 2;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.495);
}

.imgLoisirs:nth-child(2):hover {
    z-index: 4;
}

.imgLoisirs:nth-child(1) {
    z-index: 3;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.495);
}

.css-sectionIndex1 {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    margin: auto;

    padding: 150px;
}


.css-sectionIndex1 div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
}


.css-sectionIndex2 {
    background-color: #FEBB5F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    margin: 30px;
    border: 3px solid black;
    border-radius: 20px;
}


.css-sectionIndex3 {
    background-color: #F7F7F7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 50px;

}





/*experiences*/
.divExp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #FEBB5F;
    padding: 70px 100px 70px 100px;
    border-radius: 50px;
    border: 3px solid black;
    flex-direction: column-reverse;

}

.exp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;

}

.blocexp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h2Experience {
    padding-bottom: 50px;
    padding-left: 50px;

}


.sectionExperience {
    padding: 100px;
}




/*contact*/
.h2Contact {
    padding-bottom: 30px;
}

.sectionContact {
    padding: 70px;
}







/*competences*/

.langage {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: flex;
}


.progressBar {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 200px;
    width: 20px;
    background-color: #C0F0EE;
    display: none;
    flex-direction: column-reverse;
}

.pourcentage {
    display: none;
}

.nomLangage {
    display: none;
}




.css-sectionComp1 {
    background-color: #F7F7F7;
    padding: 50px 50px;
}




.css-sectionComp2 {
    background-color: #FEBB5F;
    padding: 75px;
    margin: 70px;
    border: 3px solid black;
    border-radius: 20px;


}





.css-sectionComp3 {
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 50px;

}





/*gestion progress bar */
#java {
    width: 100%;
    height: 80%;
    background-color: #2DBDB4;
    animation-duration: 2s;
    animation-name: progressup;
}



#python {
    width: 100%;
    height: 70%;
    background-color: #2DBDB4;
    animation-duration: 2s;
    animation-name: progressup;
}

#htmlcss {
    width: 100%;
    height: 70%;
    background-color: #2DBDB4;
    animation-duration: 2s;
    animation-name: progressup;
}

#plsql {
    width: 100%;
    height: 60%;
    background-color: #2DBDB4;
    animation-duration: 2s;
    animation-name: progressup;
}

#js {
    width: 100%;
    height: 50%;
    background-color: #2DBDB4;
    animation-duration: 2s;
    animation-name: progressup;
}

#php {
    width: 100%;
    height: 60%;
    background-color: #2DBDB4;
    animation-duration: 2s;
    animation-name: progressup;
}

#c {
    width: 100%;
    height: 50%;
    background-color: #2DBDB4;
    animation-duration: 2s;
    animation-name: progressup;
}

@keyframes progressup {
    from {
        height: 0%;
    }

    to {}
}



.zoneOutils {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    gap: 50px;
}


.outil h3 {
    margin-bottom: 15px;
}

.outil {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.outilImage {
    width: 30%;
    border-radius: 20px;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.495);
}

.outilImage:hover {
    width: 33%;
}

.zoneLangues {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;

}

.zoneLangues p {
    text-align: center;
    margin-top: 10px;
}


.langue {

    background-color: #2DBDB4;
    box-shadow: 7px 5px 5px #c0f0eef2;
    padding: 40px;
    border-radius: 100%;

}

.zoneLangages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titreSection {
    padding-bottom: 40px;
    padding-left: 50px;
}